/* Allows for height and width to be used */
*{
  box-sizing: border-box;
}
/* pseudo class to define custom dark blue text color variable*/
:root{
  --darkblue:rgb(0, 0, 82);
  --fadedBlack:#202529;
}
/* Creates scrolling animation when headers in nav are clicked*/
html{
  scroll-behavior: smooth;
  background-color: #e3e3e3;
}
/* Using custom faded black from :root as backgound of header */
.header{
  padding: 0px 15px 0px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--fadedBlack);
}
/* Applies flex to each of the folling */
header, header nav ul, #work, #contact, .container-half, .container-full, main{
  display: flex;
}
/* Puts all white space around flex between elements */
header, header nav ul, #work{
  justify-content: space-between;
}
/* Applies wrapping to elements within flex, so they look like a grid */
#work, .container-full, .container-half, main, #contact{
  flex-wrap: wrap;
}

header{
  margin: -8px;
}
/* Centers the items(text) to the center of the flex box */
header nav, .header h1{
  align-self: center;
}
/* Removes the bullet points and defines area for the navigation list to occupy, allowing the space-between to seperate list items */
header nav ul{
  min-width: 425px;
  list-style: none;
  padding-left: 0px;
}

header nav ul, #container-banner h3{
  font-size: 24px;
}

.header h1, .text-bl, #container-banner h3{
  background-color: lightblue;
}

.header h1, .container-half{
  margin: 10px 0px;
}

.header h1{
  min-width: 300px;
  text-align: right;
  padding:10px;
}
/* Removes the underline from links */
.header a, #contact a{
  text-decoration: none;
}
/* places a better looking underline */
.header a{
  color: lightblue;
  border-bottom: 3px solid lightblue;
  margin: 10px;
}
/* Changes text color to custom dark blue from :root */
h1, h2, h3, h4, .text-bl p, #contact p, #contact a{
  color:var(--darkblue);
} 
h2{
  font-size:30px;
}
/* When the mouse hovers over the images in the work section, the blur is removed */
#work a:hover{
     filter:none;
}
/* Allows children to move relative to the elements with these classes/ID*/
#container-banner, .container-half, .container-full{
  position:relative;
}

#container-banner h3{
  bottom: 20px;
  right: 20px;
  padding: 7px;
}
/* Allows items with this class to move over top their relative parent */
.float-left,.text-bl, #container-banner h3{
  position: absolute;
}
/* Moves box created in class 5% up from the bottom */
.float-left, .text-bl{
  bottom: 5%;
}
/* Allows for profile picture to sit on top of banner on the left side */
.float-left{
  left: 5%;
  height:250px;
  float: left;
  border: 2px solid var(--fadedBlack);
}
/* places banner picture with specified dimmensions */
#fence{
  background-image: url("../images/fence.jpeg");
  height: 300px;
  width: 102%;
  margin: 8px 0px 10px -8px;
}
/* Sets text box even with picture border */
.text-bl{
  left:-5px;
  padding: 0px 5px;
}

.text-bl h4, #contact a, #contact p{
  font-size: 18px;
}

.text-bl h4{
  margin:5px 0px;
}
.text-bl p{
  margin-bottom: 3px;
}

.container-full, .container-half {
  border: 5px solid lightblue;
}
/* Allows ids to take up full space available in the container set in parent. Container-full is the entire width of the box, so 100% */
.container-full, #conf, #refactor, #fuel, #landing, #vortex{
  width:100%;
}
/* Images in this container only take half of width the flex box space in second, 49% to allow space for border, padding and margins */
.container-half{
  width:49%;
}
/* Fixes the images to fill the space available without repeating the image */
#fence, #conf, #refactor, #fuel, #landing, #vortex{
  background-size: cover;
  background-repeat: no-repeat;
}
/* Applies a slight blur to images */
#conf, #refactor, #fuel, #landing, #vortex{
  filter:blur(2px);
}
/* Sets height of images */
#refactor, #fuel, #landing, #vortex{
  height: 200px;
}
/* Imorpts images for the the second flexbox in the Work row */
#conf{
  height:400px;
  background-image: url("../images/core-conf.png");
}

#refactor{
  background-image: url("../images/horiseon-screenshot.png");
}

#fuel{
  background-image: url("../images/fuel-assem.png");
}

#landing{
  background-image: url("../images/landing.png");
}

#vortex{
  background-image: url("../images/vortex.jpg");
}
/*This is the Contact Me section id made  
Centers content vertically and spaces list items evenly throughout the flex box */
#contact{
  justify-content: space-evenly;
  align-items: center;
}
/* places blue underline on list items */
#contact a,#contact p{
  border-bottom: 5px solid lightblue;
}

main{
  margin:96%;
  margin: 0px 10px;
}

h2, p, #conf, #refactor, #fuel, #landing, #vortex{
  margin: 0px;
}
/* First is the first flexbox in each row, second is the second flexbox of each row */
.first, .second{
  margin-top: 10px;
  margin-bottom: 15px;
}
/* Used percentages for flex-basis to give the second flexbox the majority of horizontal space. Flex grow and shrink set to 1, so they scale evenly*/
.first{
flex:1 16%; 
text-align:right;
border-right: 5px solid var(--darkblue);
padding-right: 10px;
}

.second{
flex:1 81%;
margin-left: 10px;
padding: 5px;
}
/* At 768px these changes apply */
@media (max-width:768px){
  /* Makes vertical divider horizontal and moves header text to left */
  .first{
      text-align: left; 
      border-right:none;
      border-bottom: 5px solid lightblue;
  }
  
  .second{
      margin:auto auto 10px auto;
  }
  /* Now each element takes the full width of the page (except margin, padding, and borders) */
  .first, .second{
    flex: 0 0 100%;
  }
  /* The header will now reach actual top and side edges of page */
  .first, .header, .header h1, .header nav ul{
    padding: 0px;
  }

  .header h1, .header nav ul{
    margin-top: 0px;
  }
  /* Chagnes the alignment of flex boxes to vertical and centers the content horizontally */
  .header{
    flex-direction: column;
    align-items: center;
  }
  /* stretches background colors to the edges and allows more space for list items */
  .header h1, .header nav{
    width:100%;
  }
  /* Centers my name to page */
  .header h1{
    text-align: center;
  }
  /* Spaces list items evenly and brings them down to a new line when screen size shrinks */
  .header nav ul{
    justify-content: space-evenly;
    min-width:0px;
    flex-wrap: wrap;
  }
  /* Gives the container that holds smaller images to take full width now (except margin, padidng, and border) */
  .container-half{
    width:100%;
    margin-bottom: 0px;
  }
  /* Sets large image to same height as other images */
  #conf{
    height: 200px;
  }
  /* Changes list items to vertical and aligns them to the left */
  #contact{
    flex-direction: column;
    align-items: flex-start;
  }
}
